table, input, button {
    margin-right: auto !important;
    margin-left: auto !important;
}

.heading{
    width: 50%;
    background: #FFF8DC;
    margin: 30px auto;
    text-align: center;
    color: #6B8E23;
    border: 2px solid #6B8E23;
    border-radius: 20px;
}

form{
    width: 50%;
    background: #FFF8DC;
    margin: 30px auto;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #6B8E23;
}

form p {
    color:red;
    margin: 0px;
}
.task_input {
	width: 75%;
	height: 15px; 
	padding: 10px;
    border: 2px solid #6B8E23;
}

.task_btn {
	height: 39px;
	background: #FFF8DC;
	color: 	#6B8E23;
	border: 2px solid #6B8E23;
	border-radius: 5px; 
	padding: 5px 20px;
}