table {
    margin-right: auto !important;
    margin-left: auto !important;
}

.heading{
    width: 50%;
    margin: 30px auto;
    text-align: center;
    color: #6B8E23;
    border: 2px solid #6B8E23;
    border-radius: 20px;
}

form {
    width: 50%;
    margin: 30px auto;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #6B8E23;
}
